* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Intestazione */

header {
    display:flex;
    justify-content: center;
    height: 75px;
    background-color: rgb(5, 169, 245);
    width: 100%;
}

p {
    align-self: center;
    margin: 10px;
}

nav {
    border-style: dashed;
}

div {
    border-style: dashed;
}

.nav-header {
    background-color: orange;
    height: 50px; 
    align-self: center;
    display: flex;
    justify-content: flex-start
}

.laterale {
    width: 13.4%;
    height: 50px;
}

.dx {
    display:flex;
    flex-direction: row-reverse;
}

.centrale {
    width: 40.2%;
    height: 50px;
    justify-content: center;
}

/* jumbotron */

.jumbotron {
    background-color: blue;
    height: 10%;
}

.immagine {
    background-color: violet;
}

/* Sezioni */

.container-blue {
    background-color: blue;
}

.container-pink {
    background-color: pink;
}

/* sezione grande 
    height: 25.6%;
}
*/

.greenbox {
    background-color: green;
}

.dispari {
    height: 12.8%;
}

.pari {
    background-color: gray;
    height: 12.8%;
}

.ultima {
    background-color: black;
    height: 12.8%;
}

/* pié di pagina*/

footer {
    height: 75px;
    width: 100%;
    background-color:black;
    margin-top: 2px;
    display:flex;
    justify-content: center;;
}

.container-pièdipagina {
    display: flex;
    justify-content: space-between;
    width: 66%;
    background-color: aquamarine;
    margin-top: 25px
}

.nav-pièdipagina {
    margin: 25%, 50%, 0, 50%;
    background-color: grey;
    align-self: center;
}

#container-finale {
    border-style: none;
}